<footer>
	<div class="content-padding">

	<div class="footer-content">
		<p>Copyright &copy; Rustam </p>
		<div class="social-media-icons">
			<a href="http://kamberov.me"><i class="fa fa-empire"></i></a>
			<a href="http://github.com/ruskam"><i class="fa fa-rebel"></i></a>
		</div>
	</div>

	</div>
</footer>